<section class="d-flex justify-content-between my-5 gap-5 align-items-center bg-dark p-5 rounded-5 bg-opacity-25" id="hero">
    <div>
        <h1 class="font-weight-bold">
            Connecting You with Nearby Doctors for Quick Appointments
        </h1>
        <p class="mt-4" style="text-align: justify;">
            Find nearby doctors effortlessly and book appointments online.
            With Near By Doctor Search, receive convenient access to
            trusted healthcare providers in your area. Say goodbye to long
            wait times and frustrating scheduling hassles. Our platform
            allows you to quickly discover and connect with the best local
            doctors, ensuring your healthcare needs are met with ease and
            efficiency. Simplify your journey towards optimal wellness
            today with Near By Doctor Search.
        </p>
        <a href="/patient/register" class="btn btn-primary rounded-5 fs-5 mt-2">Register Now</a>
    </div>
    <div>
        <img src="~/img/doctoricon.svg" width="600px" alt="Doctor">
    </div>
</section>
<section class="pt-5" id="Services">
    <div>
        <div class="text-center pb-5">
            <h1>
                Providing The Best Medical Services
            </h1>
            <hr />
            <p>
                Our healthcare system offers emergency healthcare solution, Nearby
                doctors location,Streamlined healthcare access, 24/7 appointment
                management.
            </p>
        </div>
        <div class="d-flex justify-content-around pt-5 pb-5">
            <div class="justify-content-center align-items-center d-block text-center">
                <img src="~/img/undraw_doctor_.svg" height="300px" width="auto" alt="">
                <h1>
                    Find a doctor
                </h1>
                <p>
                    Find nearby doctors effortlessly and book appointments online
                    24/7.
                </p>
            </div>

            <div class="justify-content-center align-items-center d-block text-center">
                <img src="~/img/loacicon.svg" height="300px" width="auto" alt="">
                <h1>
                    Find a Location
                </h1>
                <p>
                    Our platfrom allows you to discover a nearby doctor location.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5" id="About">
    <div>
        <div class="text-center pb-5">
            <h1>
                Get an Appointment and Checkout Online
            </h1>
            <hr />
            <p>
                Please register to get a free account. You can book your appointment 
                once you've got an account. Our procedure are very simple and easy to follow. 
                You can also pay online.
            </p>
        </div>
        <div class="d-flex justify-content-around pt-5 pb-5">
            <div class="justify-content-center align-items-center d-block text-center">
                <img src="~/img/bookingicon.svg" height="300px" width="auto" alt="">
                <h1>
                    Book an Appointment
                </h1>
                <p>
                    Say goodbye to long wait times and frustrating scheduling
                    hassles.
                </p>
            </div>

            <div class="justify-content-center align-items-center d-block text-center">
                <img src="~/img/payicon.svg" height="300px" width="auto" alt="">
                <h1>
                    Make Online Payment
                </h1>
                <p>
                    Secure payment gateway, Multiple payment options, Credit card
                    processing.
                </p>
            </div>
        </div>
    </div>
</section>