@model ASM.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title">Location</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Code)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Code)</dd>
        </dl>
    </div>
</div>

<div class="mt-4 d-flex justify-content-center">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>

