@model ASM.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container py-5 my-5">
    <div class="form-container col-md-6 mx-auto">

        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" asp-for="Name" required>
                <div class="invalid-feedback">
                    Please provide a valid Name.
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>
</div>

